/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.dx-widget,
.dx-widget input,
.dx-widget textarea {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn-lg .dx-button-content {
  padding: 0;
}
